.jumbotron {
  color: #fff;
  background-color: #434343;
  text-align: center;
  background-image: url("./img/papers.png");
  background-repeat: no-repeat;
  height: 300px;
  border-top: 0px;
}

h1 {
  border-top: 25px;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  margin-left: 10px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #d3d3d3;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}